PORT=5000
MONGODB_URI=mongodb://kennedymwashusha2_db_user:XxZgIoq5UKTosOHY@ac-jsbcqlz-shard-00-00.emca7uj.mongodb.net:27017,ac-jsbcqlz-shard-00-01.emca7uj.mongodb.net:27017,ac-jsbcqlz-shard-00-02.emca7uj.mongodb.net:27017/Wynd-Database?ssl=true&replicaSet=atlas-p30len-shard-0&authSource=admin&appName=Wynd-Database
OPENWEATHER_API_KEY=3a87cb8d76c165cc8bf39052c08fdfbd
JWT_SECRET=justsomeyappingandcoding
JWT_EXPIRES_IN=1h


